﻿@model CMS.MVC.Models.DetailMV

@{
    ViewBag.Title = "EnterUsername";
    Layout = "../Shared/_Employee.cshtml";
}

<h2> Enter your Username</h2>
<div class="wrapper">
@using (Html.BeginForm()) 
{      @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Time Clock</h4>
        <hr />
       

       
        <div class="form-group">
            @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Proceed to Tasks" class="btn btn-default" />
            </div>
        </div>
    </div>
}
    </div>
<div>
   
</div>
