﻿
body {

   
    padding-top: 50px;
    padding-bottom: 20px;
   /* background: rgb(190,145,0) !important;*/
    background: #A9A9A9 !important;

  
}
.content {
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
   
    border-radius: 10px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
h2 {
    color: white;
    text-shadow: 1px 1px 1px  black;
}
p {
    color: white;
    text-shadow: 1px 1px 1px  black;
}
.content {
    color: white;
    text-shadow: 1px 1px 1px  black;
}
.wrapper {
    background-color:rgb(70,70,70) ;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px 2px black;
    padding: 10px;
    margin-top: 1em;
   
}
.wrapper tr{
    background-color:rgb(70,70,70) ;
    border-radius: 10px;
   
    padding: 10px;
    margin-top: 1em;
    color: white;
   
}
.wrapper tr:hover{
    background-color:rgb(70,70,70) ;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px 2px;
    padding: 10px;
    margin-top: 1em;
    color: white;
    background-color: grey;
    
}
.wrapper div a {
    color: white !important;
    
}
td a {
    color: Orange;
    
}
.wrapper >a {
    color: white !important;
}
.wrapper .wrapper {
    background-color: #222222;
    margin: -8px;
    border-radius: 0px !important;
}
.wrapper .wrapper p {
    margin-top: -10em;
    margin-left: 10em;
    

}
.wrapper h3 {
    text-align: center;
}
.main {
    margin-top: 2em;
}
.modal-body {
     background-color: #222222;
    Color: white;
    overflow: hidden;
}
.modal-content {
   background: #222222 !important;
    color: white;
}
.modal-header {
     background-image: url("https://beamwalker.files.wordpress.com/2012/11/safety-strips-cropped1.jpg");
}
.modal-footer {
    background-image: url("https://beamwalker.files.wordpress.com/2012/11/safety-strips-cropped1.jpg");
}
.wrapper .header {
    background-image: url("https://beamwalker.files.wordpress.com/2012/11/safety-strips-cropped1.jpg");
    margin-top: 8px;
    margin-left: -.4em;
    margin-right: -10px;
    padding: 1em;
    height: 3em;
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: 0px 5px 10px 0px #222222

}
.wrapper .header h3 {
    
}
h4 {
    color: white;
}
label {
    color: white;
    text-shadow: 1px 1px 1px black;
}
button {
    background-color: rgb(20,20,20);
    box-shadow: 0px 2px 10px black;
    color: white;
}
button:hover {
    background-color: grey;
    box-shadow: 0px 2px 10px black;
    color: black;
}
.text-danger {
    color:red !important;
    text-shadow: 1px 1px 1px black;
}