﻿@using CMS.MVC.Helpers
@model CMS.MVC.Models.PersonDetailMV

@{
    ViewBag.Title = "CreateEmployee";
    Layout = "";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Enter new employee information:</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-sm-12">
            <ul id="errMsg">
                
            </ul>
        </div>

        
        <div class="form-group ">
            @Html.LabelFor(model => model.EmployeeMv.FirstName, htmlAttributes: new {  @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.EmployeeMv.FirstName, new {htmlAttributes = new { @id = "First", @class = "form-control form-inline"}})
                @Html.ValidationMessageFor(model => model.EmployeeMv.FirstName, "", new {@class = "text-danger"})
            </div>
            @Html.LabelFor(model => model.EmployeeMv.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.EmployeeMv.LastName, new { htmlAttributes = new {@id="Last",@class = "form-control form-inline" } })
                @Html.ValidationMessageFor(model => model.EmployeeMv.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
      
        <div class="form-group">
            @Html.LabelFor(model => model.DetailMV.username, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-3">
                @Html.EditorFor(model => model.DetailMV.username, new {htmlAttributes = new { @id = "username",@class = "form-control form-inline" } })
                @Html.ValidationMessageFor(model => model.DetailMV.username, "", new {@class = "text-danger"})
            </div>
            @Html.LabelFor(model => model.DetailMV.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.DetailMV.password, new { htmlAttributes = new { @id = "password", @class = "form-control form-inline" } })
                @Html.ValidationMessageFor(model => model.DetailMV.password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DetailMV.SSN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.DetailMV.SSN, new { htmlAttributes = new { @id = "SSN", @class = "form-control form-inline" } })
                @Html.ValidationMessageFor(model => model.DetailMV.SSN, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.DetailMV.SiteID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.DetailMV.SiteID,DropDown.Sites(), htmlAttributes: new { @class = "col-md-3 form-control" })
                @Html.ValidationMessageFor(model => model.DetailMV.SiteID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DetailMV.phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.DetailMV.phone, new { htmlAttributes = new { @id = "phone", @class = "form-control form-inline" } })
                @Html.ValidationMessageFor(model => model.DetailMV.phone, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.EmployeeMv.RoleId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.EmployeeMv.RoleId, DropDown.Roles(), htmlAttributes: new { @class = "col-md-3 form-control" })
                @Html.ValidationMessageFor(model => model.EmployeeMv.RoleId, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group text-center ">
            <div class="">
                <input id ="subButton" type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        </div>




<div>

</div>
    <script>
        var flagDone = false;
        var flagValid = true;


        $(document)
            .ready(
                $('#subButton')
                .click(function(event) {
                    flagValid = true;
                    if (flagDone === true) {
                        flagDone = false;
                        return;
                    }

                    $('ul').empty();
                    ResetColors();
                    event.preventDefault();

                    if (!$('#First').val()) {
                        flagValid = false;


                        AddErrorMessage('errMsg','First Name cannot be blank!');
                        ErrorColor('First');
                    }
                    if (!/^\d{3}-\d{2}-\d{4}$/.test($('#SSN').val())) {
                        flagValid = false;
                        AddErrorMessage('errMsg','Invalid Social Security Number. ex 123-45-6789')
                        ErrorColor('SSN');
                        //validationMessage.concat("Invalid Social Security Number\n");
                    }
                    if (!/^\d{3}-\d{3}-\d{4}$/.test($('#phone').val())) {
                        flagValid = false;
                        AddErrorMessage('errMsg','Invalid Phone Number. ex 555-555-5555');
                        ErrorColor('phone');

                    }
                    if (!$('#username').val()) {
                        flagValid = false;
                        AddErrorMessage('errMsg','You must have a username');
                        ErrorColor('username');
                    }
                    if (!$('#password').val()) {
                        flagValid = false;
                        AddErrorMessage('errMsg','You need to have a password');
                        ErrorColor('password');
                    }
                    if (!$('#Last').val()) {
                        flagValid = false;
                        AddErrorMessage('errMsg','You must enter a last name');
                        ErrorColor('Last');
                    }

                    if (flagValid === true) {
                        flagDone = true;
                        $(this).trigger('click');
                    }
                    
                })
            )

        function ResetColors() {
            $('#First').css('background-color', 'white');
            $('#SSN').css('background-color', 'white');
            $('#phone').css('background-color', 'white');
            $('#Last').css('background-color', 'white');
            $('#password').css('background-color', 'white');
            $('#username').css('background-color', 'white');
        }

    </script>


}
