﻿@using CMS.MVC.Helpers
@model CMS.MVC.Models.PersonTaskMV

@{
    ViewBag.Title = "CreateTask";
    Layout = "";
    TempData["EmployeeId"] = ViewBag.Employee.ID;
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="margin-left: -5em;">
        <h4>PersonTaskMV</h4>
        <hr />
        <div class="col-sm-12">
            <ul id="errMsg">
                
            </ul>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProjectId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.ProjectId, DropDown.ProjectTasks(), htmlAttributes: new { @class = "control-label col-md-2 form-control" })
                @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.HoursBudgeted, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.HoursBudgeted, new { htmlAttributes = new { @id = "hoursBudget", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HoursBudgeted, "", new {@class = "text-danger" })
            </div>
        </div>

      

    

     
        <div class="form-group">
            @Html.LabelFor(model => model.StatusID, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.StatusID, DropDown.Statuses(), htmlAttributes: new {@class = "control-label col-md-2 form-control"})
                @Html.ValidationMessageFor(model => model.StatusID, "", new {@class = "text-danger"})

            </div>
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @id="name",@class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="text-center">
                <input id="createBtn" type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script>
    var flagValid = true;
    var flagDone = false;
    $(document).ready(
        
        $('#createBtn').click(function(event) {
            flagValid = true;
            if (flagDone === true) {
                flagDone = false;
                return;
            }
            $('ul').empty();
            event.preventDefault();
            if (!$('#name').val()) {
                flagValid = false;
                AddErrorMessage('errMsg', 'This task must have a name.');
                ErrorColor('name');
            }
            if ($('#hoursBudget').val() <=0) {
                flagValid = false;
                AddErrorMessage('errMsg', ' A task must have a budget greater than 0 hours.')
                ErrorColor('hoursBudget');
            }
            if (flagValid === true) {
                flagDone = true;
                $('#createBtn').trigger('click');
            }
        })

    )


</script>

